@import '../nav-bar';
$primary-font: 'Open Sans', sans-serif;

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    // background-image: url("../images/horror-img.jpg");
    background-image: url("/images/horror/stella-rosalyn-yUVg_VFdSq4-unsplash.jpg");
    max-width: 1800px;
    width: 100%;
    min-height: 1440px;
    background-position: center;
    background-size: cover;
    
    


}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.box {
    // background-color: rgb(37, 32, 32);
    // border: rgb(116, 115, 115) 2px solid;
    background-image: url("/images/horror/paranormal.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 5px;
    border: 1px black solid;
    // box-shadow: 5px 5px rgb(116, 115, 115)
}


.horror-menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu-browse {
    font-weight: bold;
    font-size: 35px;
}

.menu-texts {
    margin-bottom: 75px;
}


.menuitem {
    padding: 2px;
}
.btn-horror {

    width: 100px;
    height: 40px;
    background-color: grey;
    border: none;
    color: black;
    font-weight: bold;

    box-shadow: 2px 2px black;

    &:hover {
        background-color: rgb(99, 98, 98);
    }
    &:active {
        transform: scale(1.05);
    }


}

.horror-menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu-browse {
    font-weight: bold;
    font-size: 35px;
}

.menuitem {
    padding: 2px;
}
.btn-horror {

    width: 100px;
    height: 40px;
    background-color: grey;
    border: none;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-weight: bold;

    box-shadow: 2px 2px black;

    &:hover {
        background-color: rgb(99, 98, 98);
    }
    &:active {
        transform: scale(1.05);
    }


}


.book-menu {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;


}


.books {
  width: 80px;
  height: 100px;
}


.goth-book {
  text-align: center;
  max-width: 100px;

  &:hover {
    transform:scale(1.02);
  }
}


.title {
  font-size: 12px;
}



.return {
    scale: 2;
    color: white;

    &:hover {
        transform: scale(1.25);

    }
}