/******************Navigation bar***************/
/* line 4, ../Documents/repos/project-2/sass/_nav-bar.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../Documents/repos/project-2/sass/_nav-bar.scss */
body {
  background: #ecf0f1;
}

/* line 12, ../Documents/repos/project-2/sass/_nav-bar.scss */
h1 {
  font-family: "Open Sans", sans-serif;
}

/* line 22, ../Documents/repos/project-2/sass/_nav-bar.scss */
.navbar .container-fluid .navbar-brand img {
  max-width: 50px;
  width: 100%;
  border: 1px solid transparent;
}

/* line 27, ../Documents/repos/project-2/sass/_nav-bar.scss */
.navbar .container-fluid .navbar-brand img:hover {
  border: 1px solid #5f5f60;
  border-radius: 50%;
  transition: all 1s ease;
}

/* line 34, ../Documents/repos/project-2/sass/_nav-bar.scss */
.navbar .container-fluid #navigation {
  transition: all 1s ease;
  background: #ecf0f1;
}

/* line 40, ../Documents/repos/project-2/sass/_nav-bar.scss */
.navbar .container-fluid #navigation .navbar-nav .nav-item .nav-link {
  color: black;
  border-bottom: 1px solid transparent;
}

/* line 44, ../Documents/repos/project-2/sass/_nav-bar.scss */
.navbar .container-fluid #navigation .navbar-nav .nav-item .nav-link:hover {
  color: #5f5f60;
  border-bottom: 1px solid #5f5f60;
}

/******************Navigation bar End***************/
/******************Hero section*******************/
/* line 3, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section {
  padding: 0 2rem 0 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* line 12, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section .hero-text {
  min-width: 200px;
  width: 100%;
  height: 30%;
}

/* line 17, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section .hero-text h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
  color: #404041;
}

/* line 27, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section .hero-text p {
  padding: 2%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #868686;
}

/* line 39, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section .hero-image {
  max-width: 1179px;
  width: 100%;
  max-height: 957px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 48, ../Documents/repos/project-2/sass/_hero-section.scss */
.hero-section .hero-image img {
  width: 90%;
}

/******************Hero section End******************/
/*****************Poetry page/section***************/
/* line 2, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* line 11, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .heading {
  width: 60%;
  height: auto;
}

/* line 15, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .heading h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
  color: #404041;
}

/* line 25, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .heading p {
  padding: 2%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #868686;
}

/* line 38, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* line 46, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section .box {
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  max-height: 380px;
  height: 100%;
}

/* line 55, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section .box figure img {
  width: 80%;
  object-fit: fill;
  aspect-ratio: 1/1;
}

/* line 61, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section .box figure figcaption {
  margin-top: 1rem;
}

/* line 63, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section .box figure figcaption .card-title {
  font-size: 18px;
}

/* line 66, ../Documents/repos/project-2/sass/_poetry.scss */
.poetry-section .poet-section .box figure figcaption .card-text {
  font-size: 15px;
}

/*****************Poetry page/section End**************/
/*******************Media Queries**********************/
/*******************For mediam size screens******************/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /***************Hero section*******************/
  /* line 4, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section {
    padding: 1rem;
    flex-direction: row;
  }
  /* line 8, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-text {
    max-width: 600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 17, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-text h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 0.5em;
  }
  /* line 23, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-image {
    height: auto;
  }
  /* line 25, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-image img {
    width: 100%;
  }
  /***************Hero section end*******************/
  /***************Poetry section*******************/
  /* line 35, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section {
    padding: 1rem;
    height: auto;
    flex-direction: column;
    /***************Poetry section end*******************/
  }
  /* line 40, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .heading {
    max-width: 600px;
    width: 100%;
    height: auto;
  }
  /* line 45, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .heading h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 0.5em;
  }
  /* line 52, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .poet-section {
    padding: 0.5rem 0.5rem;
  }
}

/*******************For mediam size screens end******************/
/******************For mobile devices**********************/
@media screen and (max-width: 767px) {
  /***************Hero section*******************/
  /* line 64, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section {
    height: auto;
    flex-direction: column;
  }
  /* line 68, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-text {
    height: 20%;
    justify-content: flex-end;
  }
  /* line 72, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-section .hero-text h1 {
    font-size: 1.2em;
  }
  /* line 79, ../Documents/repos/project-2/sass/_media-queries.scss */
  .hero-image img {
    width: 40%;
  }
  /***************Hero section end*******************/
  /***************Poetry section*******************/
  /* line 86, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section {
    overflow: visible;
    flex-direction: column;
    height: auto;
    gap: 0.5rem;
  }
  /* line 92, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .heading {
    text-align: center;
    width: 100vw;
  }
  /* line 97, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .poet-section {
    padding: 0.5rem;
    height: auto;
    flex-direction: column;
    gap: 0.5rem;
  }
  /* line 104, ../Documents/repos/project-2/sass/_media-queries.scss */
  .poetry-section .poet-section .box figure img {
    width: 30%;
    object-fit: cover;
  }
  /***************Poetry section end*******************/
}

/******************For mobile devices end**********************/
/*******************Media Queries End*******************/

/*# sourceMappingURL=main.css.map */